apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "airbud.fullname" . }}-config
  labels:
    {{- include "airbud.labels" . | nindent 4 }}
data:
  # --- Common Env Vars ---
  POSTGRES_USER: "rag_user"
  POSTGRES_DB: "rag_db"
  # Note: Internal K8s DNS name for the Postgres Service
  POSTGRES_SERVER: "{{ include "airbud.fullname" . }}-postgres"

  # Auth Mode
  AUTH_MODE: {{ .Values.global.authMode | default "CAC" | quote }}

  # Offline Support
  {{- if .Values.offline.enabled }}
  TRANSFORMERS_OFFLINE: "1"
  HF_DATASETS_OFFLINE: "1"
  {{- end }}
  
  # Neo4j Settings
  NEO4J_URI: "bolt://{{ include "airbud.fullname" . }}-neo4j:7687"
  NEO4J_USER: "neo4j"
  
  # Operating Modes
  EPHEMERAL_MODE: {{ .Values.global.ephemeralMode | quote }}
  TEST: {{ .Values.global.testMode | quote }}
