apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shared-pvc
spec:
  accessModes:
    - ReadWriteMany # Required for multiple pods writing to SQLite/Images
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.global.storageClass }}